.chat-side
  .side_header
    .header__user_name
      YUYA
    .header__edit
    = link_to "#", class: "headers__btn1" do
      = icon('fa', 'edit')
    .header__setting
    = link_to "#", class: "headers__btn2" do
      = icon('fa', 'cog')


  .groups
    .group
      .group__name1
        soccer
      .group__message1
        nice!
    .group2
      .group__name2
        baseball
      .group__message2
        good!

