.chat-side
  .side_header
    .header__user_name
      YUYA
    .header__edit
    = link_to "#", class: "headers__btn-top" do
      = icon('fa', 'edit')
    .header__setting
    = link_to "#", class: "headers__btn-bottom" do
      = icon('fa', 'cog')


  .groups
    .group-soccer
      .group-soccer__name-top
        soccer
      .group-soccer__message-top
        nice!
    .group-baseball
      .group-baseball__name-bottom
        baseball
      .group-baseball__message-bottom
        good!

