.chat-side
  .side_header
    .header__user_name
      YUYA
    .header__edit
    = link_to "#", class: "headers__btn-a" do
      = icon('fa', 'edit')
    .header__setting
    = link_to "#", class: "headers__btn-b" do
      = icon('fa', 'cog')


  .groups
    .group-a
      .group-a__name-top
        soccer
      .group__message-top
        nice!
    .group-b
      .group__name-bottom
        baseball
      .group__message-bottom
        good!

